[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/BRVad
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BRVad
	label-Verified = -1..+1 group user/BRVad
	push = group user/BRVad
	read = group user/BRVad
	rebase = group user/BRVad
	removeReviewer = group user/BRVad
	submit = group user/BRVad
[access "refs/heads/*"]
	create = group user/BRVad
	push = +force group user/BRVad
	pushMerge = group user/BRVad
	read = group user/BRVad
[access "refs/tags/*"]
	push = group user/BRVad
	push = +force group user/BRVad
